<section class="get-started">
    <div class="container" id="main-container">
        <h1 class="heading" id="main-heading">Your story is waiting to happen!</h1>
        <button class="btn" id="get-started-btn">Get Started</button>
        <p class="sub-text" id="matrimony-service">Pakistan's No.1 Matrimony Service</p>
    </div>
</section>