<section class="get-started">
    <div class="container" id="main-container">
        <h1 class="heading" id="main-heading">Your story is waiting to happen!</h1>
        <button class="login-btn" id="get-started-btn">Get Started</button>
        
       
    </div>
</section>