<section class="get-started" id="get-started">
    <div class="container" id="main-container">
        <h1 class="heading" id="main-heading">Your Story is waiting to happen</h1>
        <button  id="get-started-btn">Get Started</button>
        
       
    </div>
    <script>// Get references to elements
  // Get references to elements


        </script>
</section>