<nav class="navbar">
    <span class="hamburger-btn material-symbols-rounded">menu</span>
    <a href="#" class="logo">
        <!-- <img src="images/logo.jpg" alt="logo"> -->
        <img src="../images/logo.jpg" alt="error in loading">
        <h2>Rishtay Wali</h2>
    </a>
    <ul class="links">
        <span class="close-btn material-symbols-rounded">close</span>
        <li><a href="#home">Home</a></li>
        <li><a href="#testimonals">Testimonals</a></li>
        <li><a href="#footer">About us</a></li>
        <li><a href="#contact">Contact us</a></li>
    </ul>
    <button class="login-btn">LOG IN</button>
</nav>