
<style>
 
    #cont {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 20vh;
    }
    .option {
        text-align: center;
    }
    .option img {
        width: 50px;
        height: auto;
        margin-bottom: 10px;
    }
    .option p {
        margin: 0;
    }
    @media (max-width: 600px){
        #cont {
            
            height: 5vh;
            margin-bottom: 90px;
        } 
    }
</style>
</head>

 <section class="manifesto">
<div id="cont">
    <div class="option">
        <img src="../images/social-media.png" alt="Social Media">
        <p>Best Matches</p>
    </div>
    <div class="option">
        <img src="../images/verified-profile.png" alt="Verified Profile">
        <p>Verified Profiles</p>
    </div>
    <div class="option">
        <img src="../images/privacy-lock.png" alt="Privacy Lock">
        <p>100% Privacy</p>
    </div>
</div>
</section>   
