<section class="testimonals">
    <div class="container">
      <br>
      <h2 id="testimonal-heading">Matrimony Service with Millions of Success Stories</h2>
      <br>
      <div class="row">
          <div class="col-md-12">
              <div id="testimonial-slider" class="owl-carousel">
                  <!--  ////////////////////////////////////////////////////////  -->
                  <div class="testimonial-item equal-height style-6" style="height: 254px;">
                      <div class="testimonial-image cell-left">
                          <img src=".\Assests\img\testimonal-1.jpeg" alt="Zara">
                      </div>
                      <div class="cell-right">
                          <div class="testimonial-name">Zara Shakeel
                          </div>
                          <div class="testimonial-job">Corporate Officer
                          </div>
                      </div>
                      <div class="testimonial-content quote"><i class="fa fa-quote-left">  
                          </i>This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. 
                      </div>
                  </div>
                  <!--  ////////////////////////////////////////////////////////  -->
                  <div class="testimonial-item equal-height style-6" style="height: 254px;">
                      <div class="testimonial-image cell-left">
                          <img src=".\Assests\img\testimonal-2.jpeg" alt="Rose">
                      </div>
                      <div class="cell-right">
                          <div class="testimonial-name">Mahira
                          </div>
                          <div class="testimonial-job">Actress
                          </div>
                      </div>
                      <div class="testimonial-content quote"><i class="fa fa-quote-left">  
                          </i>This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. 
                      </div>
                  </div>
                  <!--  ////////////////////////////////////////////////////////  -->
                  <div class="testimonial-item equal-height style-6" style="height: 254px;">
                      <div class="testimonial-image cell-left">
                          <img src=".\Assests\img\testimonal-3.jpeg" alt="Rose">
                      </div>
                      <div class="cell-right">
                          <div class="testimonial-name">Sarfaraz
                          </div>
                          <div class="testimonial-job">Cricketer
                          </div>
                      </div>
                      <div class="testimonial-content quote"><i class="fa fa-quote-left">  
                          </i>This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. 
                      </div>
                  </div>
                  <!--  ////////////////////////////////////////////////////////  -->
                  <div class="testimonial-item equal-height style-6" style="height: 254px;">
                      <div class="testimonial-image cell-left">
                          <img src=".\Assests\img\testimonal-4.jpeg" alt="Rose">
                      </div>
                      <div class="cell-right">
                          <div class="testimonial-name">Farhan
                          </div>
                          <div class="testimonial-job">Engineer
                          </div>
                      </div>
                      <div class="testimonial-content quote"><i class="fa fa-quote-left">  
                          </i>This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. 
                      </div>
                  </div>
                  <!--  ////////////////////////////////////////////////////////  -->
                  <div class="testimonial-item equal-height style-6" style="height: 254px;">
                      <div class="testimonial-image cell-left">
                          <img src=".\Assests\img\testimonal-5.jpeg" alt="Rose">
                      </div>
                      <div class="cell-right">
                          <div class="testimonial-name">Maha
                          </div>
                          <div class="testimonial-job">Fashion Designer
                          </div>
                      </div>
                      <div class="testimonial-content quote"><i class="fa fa-quote-left">  
                          </i>This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. 
                      </div>
                  </div>
                  <!--  ////////////////////////////////////////////////////////  -->
                  <div class="testimonial-item equal-height style-6" style="height: 254px;">
                      <div class="testimonial-image cell-left">
                          <img src=".\Assests\img\testimonal-6.jpeg" alt="Rose">
                      </div>
                      <div class="cell-right">
                          <div class="testimonial-name">Rose
                          </div>
                          <div class="testimonial-job">Gardener
                          </div>
                      </div>
                      <div class="testimonial-content quote"><i class="fa fa-quote-left">  
                          </i>This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. 
                      </div>
                  </div>
                  <!--  ////////////////////////////////////////////////////////  -->
                  <div class="testimonial-item equal-height style-6" style="height: 254px;">
                      <div class="testimonial-image cell-left">
                          <img src=".\Assests\img\testimonal-7.jpeg" alt="Rose">
                      </div>
                      <div class="cell-right">
                          <div class="testimonial-name">Rose
                          </div>
                          <div class="testimonial-job">Gardener
                          </div>
                      </div>
                      <div class="testimonial-content quote"><i class="fa fa-quote-left">  
                          </i>This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. 
                      </div>
                  </div>
                  <!--  ////////////////////////////////////////////////////////  -->
              </div>
          </div>
      </div>
  </div>
</section>
